{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 49.90750873787232,
        "longitude": 8.577296733856203,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Berlin",
        "external_url": null,
        "internal_url": null
    }
}